header {
    font-family: Orbitron;
    font-size: 36px;
    text-align: center;
}

#slideBox {
    margin: 0;
    display: flex;
    justify-content: center;
}

.container {
    background-color: #F5F5F5;
    height: 700px;
    width: 700px;
    display: grid;
    /* grid-template-columns: repeat(16, 1fr); */
    border-width: 1px;
    border-style: solid;
    border-color: #222222;
    margin: auto;
}

.cell {
    border-width: 1px;
    border-color: #222222;
    border-style: solid;
}

.active {
    background-color: #0062cc;
}

.inactive {
    background-color: #F5F5F5;
    color: #222222;
}

#buttons {
    margin: 0;
    display: flex;
    justify-content: center;
}

button {
    color: #F5F5F5;
    margin: 20px;
    padding: 20px;
    width: 100px;
    border-radius: 25px;
    border-color: #0062cc;
    text-align: center;
    font-family: Orbitron;
}

.slidetext {
    text-align: center;
}