.container {
    background-color: #F5F5F5;
    height: 800px;
    width: 800px;
    display: grid;
    /* grid-template-columns: repeat(16, 1fr); */
    border-width: 1px;
    border-style: solid;
    border-color: #222222;
    margin: auto;
}

.cell {
    border-width: 1px;
    border-color: #222222;
    border-style: solid;
}

.black {
    background-color: #222222;
}